[project]
	description = My sample trial of Habito project - First Android app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/coderaj
[access "refs/for/refs/*"]
	read = group user/coderaj
	push = group user/coderaj
	label-Code-Review = -2..+2 group user/coderaj
	label-Verified = -1..+1 group user/coderaj
	rebase = group user/coderaj
	removeReviewer = group user/coderaj
	submit = group user/coderaj
[access "refs/heads/*"]
	read = group user/coderaj
	create = group user/coderaj
	push = +force group user/coderaj
	pushMerge = group user/coderaj
[access "refs/tags/*"]
	push = group user/coderaj
	push = +force group user/coderaj
